<div class ="jumbotron home-portal">
  <h1>welcome! </h1>
  <hr>
  <h3>This is an admin portal </h3>
  <a href="/stores" class="btn btn-primary btn-lg btn-home">See the stores</a>
  <a href="/brands" class="btn btn-primary btn-lg btn-home">See the brands</a>
</div>
