<div class ="jumbotron home-portal">
  <h1>Shoe distribution </h1>
  <hr>
  <h3>This is admin portal </h3>
  <a href="/stores" class="btn btn-primary btn-lg btn-home">See the stores</a>
  <a href="/brands" class="btn btn-primary btn-lg btn-home">See the brands</a>
</div>
